body {
	background: linear-gradient(-45deg, #424047, #5c6416, #615a9b, #74b103);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.img-corner {
  border-radius: 10px;
}
